{% extends "layout.html" %}
{% block content %}

<div class="config_info">
  Expirare {{expire/60}} min, ștergere {{trim/60}} min.
</div>


<table class="entry">
  <tr class="entry-head">
    <td class="id">ID</td>
    <td class="name">Nume</td>
    <td class="info">Detalii</td>
    <td class="play_time">Oră joc</td>
    <!--td class="create_time">{{state_map['announced']}}</td-->
    <td class="state">Status</td>
    <td class="cmd"></td>
  </tr>
  
  {% for entry in entries %}
  <tr class="entry" onClick="console.log('click on entry')">
    <td class="state_{{entry.state}}">
      <div class="id">{{entry.id}}</div>
    </td>
    <td class="state_{{entry.state}}">
      <div class="name">
	{{entry.name}}
      </div>
    </td>
    <td class="state_{{entry.state}}">
      <div class="info">
	{% if entry.state in [ 'arrived', 'announced' ] %}
	<input type="text" id="info_edit_{{entry.id}}" value="{{entry.info}}"
	       onChange="entrySet({{entry.id}},'info',document.getElementById('info_edit_{{entry.id}}').value)"/>
	{% else %}
	{{entry.info}}
	{% endif %}	
      </div>
    </td>
    <td class="state_{{entry.state}}">
      <div class="time">{{entry.play_time.strftime("%H:%M")}}</div>
    </td>    
    <!--td class="state_{{entry.state}}">
      <div class="time">{{entry.create_time.strftime("%H:%M")}}</div>
    </td-->   
    <td class="state_{{entry.state}}">
      {% if entry.state in [ 'arrived', 'announced' ] %}
      <select id="state_list_{{entry.id}}"
	      onChange="entrySet({{entry.id}},'state',document.getElementById('state_list_{{entry.id}}').value)">
	{% for key in state_map %}
	<option value="{{key}}">{{state_map[key]}}</option>
	{% endfor %}
      </select>
      {% endif %}
      <script>document.getElementById('state_list_{{entry.id}}').value = '{{entry.state}}';</script>
    </td>
    <td class="state_{{entry.state}}">
      [<a href="/entry/{{entry.id}}">e</a>]
    </td>
  </tr>
  {% endfor %}

  <script>
    // Helper function to change the state of an entry to the currently selected entry
    function entrySet(id,field,value) {
      var url = "{{url_for('entry_set')}}"+"/"+id+"/"+field+"/"+value;
      var i = document.createElement("img"); // cheap trick to do a HTTP-GET request
      i.src = url;
      //var http = XMLHttpRequest();
      //http.open("POST", url, false);
    }
  </script>

  <form method="post" action="{{ url_for('entry_set') }}">
    <tr class="entry-add-form">
      <td>
      </td>
      <td>
	<input type="text" id="create_name" name="name" value="Nume" size="10"
	       onClick="document.getElementById('create_name').select();"
	       required/>
      </td>
      <td>
	<input type="text" id="create_info" name="info" value=""
	       onCLick="document.getElementById('create_info').select();"/>
      </td>
      <td>
	<input type="text" name="play_time" value="{{now}}" size="5"
	       onClick="document.getElementById('play_time').select();"
	       pattern="^([ \t]*)([0-9][0-9]:[0-9][0-9])([ \t]*)([0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9])?([ \t]*)$">
      </td>
      <td>
	<select id="state_list_new" name="state" value="announced">
	  {% for key in state_map %}
	  <option value="{{key}}">{{state_map[key]}}</option>
	  {% endfor %}
	</select>
	<script>document.getElementById('state_list_new').value = 'announced';</script>
      </td>
      <td>
	<button type="submit">Adaugă</button>
      </td>
    </tr>
  </form>
</table>

{% endblock %}
