{% extends "layout.html" %}
{% block content %}
<form method="post" action="{{ url_for('entry_set', id=entry.id) }}">
  <table>
    <tr>
      <td><label>ID</label></td>
      <td><label>{{entry.id}}</td>
    </tr>
    <tr>
      <td><label>Nume</label></td>
      <td><input type="text" name="name" value="{{entry.name}}" required/></td>
    </tr>
    <tr>
      <td><label>Detalii</label></td>
      <td><input type="text" name="info" value="{{entry.info}}"/></td>
    </tr>
    <tr>
      <td><label>Oră joc</label></td>
      <td>
	<input type="text" name="play_time" value="{{entry.play_time.strftime('%H:%H %Y-%m-%d')}}"
	       pattern="^([ \t]*)([0-9][0-9]:[0-9][0-9])([ \t]*)([0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9])?([ \t]*)$"/>
      </td>
    </tr>
    <tr>
      <td><label>Stat</label></td>
      <td>
	<input name="state" list="state_list_{{entry.id}}">
	<datalist id="state_list_{{entry.id}}">
	  {% for key in state_map %}
	  <option value="{{key}}">{{state_map[key]}}</option>
	  {% endfor %}
	</datalist>
	<script>
	  document.getElementById('state_list_{{entry.id}}').value = '{{entry.state}}';
	</script>
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<center>
	  <button type="submit">Salvează</button>
	  <button type="cancel">Renunță</button>
	</center>
      </td>
    </tr>
</form>
{% endblock %}
