{% extends "layout.html" %}
{% block content %}

<!--div class="todo-list"-->
  <!-- div class="todo-head">În așteptare</div-->
  <table class="entry">
    {% for entry in entries if entry.state in ['announced', 'arrived' ] %}   
    {%   if loop.first %}
    {%     include "user-head.html" %}
    {%   endif %}
    {%   include "user-entry.html" %}
    {% endfor %}
  </table>
<!--/div-->

<!-- div class="done-list">
  <div class="done-head" >
    Serviți în ultimele {{((trim/60)|round(0)|string).rstrip("0").rstrip(".")}} min.
  </div>
  <table class="entry">
    {% for entry in entries if entry.state not in [ 'announced', 'arrived' ]%}
    {%   if loop.first %}
    {%     include "user-head.html" %}
    {%   else %}
    {%     include "user-entry.html" %}
    {%   endif %}
    {% endfor %}
  </table>
</div -->

{% endblock %}
