<!doctype html>
<html lang="ro">
  <head>
    <title>BowList</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% if refresh > 0%}
    <meta http-equiv="refresh" content="{{refresh}}"/>
    {% endif %}
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/bowlist.css"/>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
