<tr class="entry">
  <td class="state_{{entry.state}}">
    <div class="name">
      {{entry.name}}
    </div>
  </td>
  <td class="state_{{entry.state}}">
    <div class="state">
      {{ state_map[entry.state] }}
    </div>
  </td>
  <td class="state_{{entry.state}}">
    <div class="time">{{entry.play_time.strftime("%H:%M")}}</div>
  </td>
</tr>
