body {
    background-color: black;
    color: white;
}

div.index_table { text-align: center; }
div.entry_table { text-align: center; }

div.todo-list { float: left; margin-left: 2em; margin-right: 2em; text-align: center; }
div.done-list { float: left; margin-left: 2em; margin-right: 2em; text-align: center; }

table.entry    { margin: auto; }
table.entry tr { padding: 0.2em; }

table tr.entry-head    {   background-color: #808080; color: black; font-weight: bold; font-size: large; }
table tr.entry-head td {   padding: 0.1em 1em 0.1em 1em; }
table tr.entry-head td {   padding: 0.1em 1em 0.1em 1em; }
table tr.entry-head td.state     { text-align: center; }
table tr.entry-head td.play_time { text-align: center; }


table tr.entry td {   padding: 0.3em 1em 0.3em 1em; }
table tr.entry td div.state { text-align: center; }
table tr.entry td div.time { text-align: center; }
table tr.entry td div.date { text-align: center; font-size: 8pt;  }
table tr.entry-add-form { text-align: center; }

table tr.entry:nth-child(odd)  { background-color: #101010; }
table tr.entry:nth-child(even) { background-color: #070707; }


td.state_announced  { color: #606060; }
//td.state_arrived  { color: #404040; }
td.state_invited    { color: white;   animation: blinker 1s linear 30s; }
td.state_cancelled  { color: #606060; text-decoration: line-through; background-color: black; }
td.state_expired    { color: #804040; text-decoration: line-through; background-color: black; }
td.state_served     { color: #408040; text-decoration: line-through; background-color: black; }

div.config_info { text-align: left; color: gray; font-size: small; }

div.todo-head { font-size: large; color: #c0c0c0; margin: 1em; text-align: center; }
div.done-head { font-size: large; color: #606060; margin: 1em; }
div.done-info { font-size: regular; color: grey; }
